Source: ibus-libzhuyin
Section: unknown
Priority: optional
Maintainer: ChangZhuo Chen (陳昌倬) <czchen@gmail.com>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               libopencc-dev,
Standards-Version: 3.9.6
Homepage: https://github.com/libzhuyin/ibus-libzhuyin
#Vcs-Git: git://anonscm.debian.org/collab-maint/ibus-libzhuyin.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/ibus-libzhuyin.git;a=summary

Package: ibus-libzhuyin
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: New Zhuyin engine based on libzhuyin for IBus
 ibus-libzhuyin is a Chinese Zhuyin (Bopomofo) input method based on
 libzhuyin.

Package: ibus-libzhuyin-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends},
         ibus-libzhuyin (= ${binary:Version}),
Description: Debug symbols for ibus-libzhuyin
 ibus-libzhuyin is a Chinese Zhuyin (Bopomofo) input method based on
 libzhuyin.
 .
 This package contains debug symbols for ibus-libzhuyin
